/*---------------------------------*\
        base font: Roboto
/*---------------------------------*/

@mixin base-font {
    font-family: $font-family--base;
}
@mixin base-font--light {
    font-family: $font-family--base;
    font-weight: $font-weight-light--base;
}
@mixin base-font--normal {
    font-family: $font-family--base;
    font-weight: $font-weight-normal--base;
}
@mixin base-font--bold {
    font-family: $font-family--base;
    font-weight: $font-weight-bold--base;
}
