/*---------------------------------*\
               Colors
/*---------------------------------*/

/* dark theme */
$brand-bg: #f8f8f8;
$brand-card-bg: #ffffff;
$brand-default-text: #292c3a;
$brand-faded-label: #a0a0a0;

$brand-info-band: #2a2d3a;
$brand-info-band-text: #e7e7e2;

$brand-btn-color: #2a2d3a;
$brand-btn-shadow: #a0a0a0;
$brand-btn-close-bg: #808080;
$brand-btn-close-icon: #202020;
